* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.breadcrumb-area {
    padding: 230px 0px;
}

.bg {
    background-image: url(https://www.honda.com.vn/asserts/images/honda-motor/motor-detail/monkey/design/banner.jpg);
}

.bg {
    background-attachment: scroll;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    .page-title-overlay {
        content: "";
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        background-color: rgba(189, 189, 189, 0.22);
        opacity: .3;
    }
    .breadcrumb-text {
        position: relative;
        padding: 18px 20px;
        display: table;
        border: 2px solid #fff;
        background: transparent;
        z-index: 1;
        text-align: center;
        margin: 0 auto;
        h6 {
            color: #fff;
            font-size: 32px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}

// BODY
.container {
    .column-avatar {
        padding: 20px;
        .avatar-image {
            img {
                width: 100%;
            }
        }
    }
}