<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="order.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Order detail</title>
</head>

<body>
    <section class="breadcrumb-area bg">
        <div class="page-title-overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text text-center">
                        <h6>Order detail</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="order-detail">
        <div class="container">
            <div class="title-order">
                <h4 class="title">Chi tiết hóa đơn</h4>
            </div>
            <div class="table-responsive text-center">

                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th colspan="1">STT</th>
                            <th colspan="2">Tên khách hàng</th>
                            <th colspan="2">Email</th>
                            <th colspan="2">Địa chỉ</th>
                            <th colspan="2">Số điện thoại</th>
                            <th colspan="1">Tổng tiền</th>
                            <th colspan="1">Ngày tạo</th>
                            <th colspan="1">Trạng thái</th>
                            <th colspan="1">Chi tiết</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order,iter : ${vm.getOrderVMS()}">
                            <td colspan="1" th:text="${iter.index+1}"></td>
                            <td colspan="2" th:text="${order.getCustomerName()}"></td>
                            <td colspan="2" th:text="${order.getEmail()}"></td>
                            <td colspan="2" th:text="${order.getAddress()}"></td>
                            <td colspan="2" th:text="${order.getPhoneNumber()}"></td>
                            <td colspan="1" th:text="${order.getPrice()}"></td>
                            <td colspan="1" th:text="${order.getCreatedDate()}"></td>
                            <td colspan="1" th:text="${order.getStatus()}"></td>
                            <td colspan="1">
                                <a class="btn btn-primary detail" role="button">Chi tiết</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</body>

</html>